/* Universal Styles Start Here */

* {
    box-sizing: border-box;
}

/* variable Here */

:root {
    --backgroundMain: #860021;
    --backgroundSecondary: #e3e8e4;
    --mainFont: white;
    --backgroundButton: #00D7FF; 
}

/* Variable Finish Here */

/* Body Styles Universal Here */

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundSecondary);
    font-family: Arial, Helvetica, sans-serif;
}

/* Body Styles Finish Here */

/* header Styles Start here */

header {
    background-image: linear-gradient(240deg, black, var(--backgroundMain));
    color: var(--mainFont);
    padding: .5rem 0 1rem 2rem;
    text-align: center;
    font-size: 1vw;
}

/* End Here Header Styles */

/* Form Styles Start Here */

.cityForm {
    padding: .5rem 1rem;
}

.searchTitle {
    font-size: 1.5vw;
    font-weight: 900;
}

.city {
    border-width: thin;
    width: 100%;
    height: 40px;
    margin-top: .5rem;
    border-radius: 5px;
    font-size: 1vw;
}

.searchButton {
    border-width: thin;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 1vw;
    color: var(--mainFont);
    background-image: linear-gradient(45deg, black, var(--backgroundMain));
}

/* Form Styles Start Here */

/* City Storage Start Here */
/* City Storage its been used to show the search already made */
/* TODO need work here */
.cityStorage h3{
    margin: 1rem 0;
    padding: .5rem 0;
    width: 100%;
    text-align: center;
    font-size: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 3px;
    border-width: thin;
    background: radial-gradient(rgb(190, 189, 189) 0%, rgb(149, 150, 151) 90%);
}

/* City Storage Finish Here */

/* Start Here the styles for the city display box */

/* mainFrame its every item that contains inside the main */
.mainFrame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.firstDay{
    width: 68%;
    font-size: 1vw;
    border: 1px solid black;
    padding: 1rem 2rem;
    margin: 1rem 0;
}
.restOfDays div{
    border-width: thin;
    color: white;
    padding: 1rem 1rem;
    display: inline-block;
    height: 100%;
    width: 20%;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    border: 1px solid black;
    margin: 1rem;

}